body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2 {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 300;
  color: #343a40;
}

h3,
h4,
h5,
h6 {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 600;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  font-weight: 400;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #BD5D38;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.col-lg-12 {
  float: none;
}

li {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

.hidden {
  display: none;
}

.larger {
  font-size: 2em;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after {
  content: " \25B4\25BE";
}

/* --------
Brand
----------*/
.brand {
  font-family: "Copse", Georgia, sans-serif;
}

.brand a, .address-bar a {
  color: #0E1217;
}

.address-bar a {
  border-top: 1px solid #D0DDE2;
  border-bottom: 1px solid #D0DDE2;
  padding: 0.25em;
  font-weight: 300;
}

/* --------
Navbar
----------*/
.navbar li {
  font-size: 0.9em;
}

.navbar-default .navbar-nav li a {
  color: #0E1217;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:focus {
  background: #1A3862;
  color: #fff;
}

.navbar-default .navbar-nav li.current a {
  background: #CBD4E0;
}

/* --------
Content
----------*/
.content h2 {
  margin: 0 0 1em;
}

/* --------
Homepage actions
----------*/
.home-action {
  background: #1A3862;
  border-radius: 12px;
  padding: 24px 16px;
}

.home-action--beta {
  background: #70249A;
  position: relative;
}

.home-action--beta-label {
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #0E1217;
  display: inline-block;
  font-size: 0.6em;
  font-weight: 300;
  padding: 0.4em 0.8em;
  position: relative;
  vertical-align: middle;
  top: -1px;
}

.home-action h2 {
  color: #fff;
  font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: 0;
  text-transform: none;
}

.home-action p {
  color: #fff;
  font-weight: 300;
}

.btn-home {
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  color: #3D3D3D;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-home:hover,
.btn-home:active,
.btn-home:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f6f6f6;
}

/* --------
Doctors
----------*/
.verified {
  background: #aaa;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  padding-top: 2px;
  position: relative;
  text-align: center;
  width: 24px;
}

.verified:hover::after {
  display: block;
}

.verified::after {
  background: #1A3862;
  border-radius: 6px;
  content: "Verified doctors are doctors who self-reported using a NHS email address.";
  display: none;
  font-size: 14px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 20em;
  padding: 1em;
  position: absolute;
  left: 1em;
  letter-spacing: 0;
  line-height: 1.4;
  text-align: left;
  text-transform: none;
  z-index: 2;
}

.verified--yes {
  background-color: #70D006;
}

.search-control {
  background: #e6ebf1;
  border-radius: 6px 6px 0 0;
  padding: 1em;
}

.search-control label {
  margin: 0;
}

.search-control input[type=text] {
  padding: 0.33em 0.5em;
  width: 20em;
  max-width: 80%;
}

input.form-control {
  margin-bottom: 15px;
}

#no-results {
  background: #F7F3ED;
  display: none;
}

/* --------
Declarations
----------*/
.declaration-form {
  /*
    * Only show the hrs if the menu item above is also open
    */
}

.declaration-form .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.declaration-form .sub-section {
  margin-bottom: 20px;
  display: none;
}

.declaration-form .show .sub-section {
  display: block;
}

.declaration-form .show hr {
  display: none;
}

.declaration-form .show + .show hr {
  display: block;
}

.declaration-form textarea {
  margin-bottom: 20px;
}

.sub-header-links a {
  display: inline-block;
  height: 9rem;
  width: 9rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-right: 4rem;
  padding-top: 2.8rem;
  margin-top: 2rem;
}

.sub-header-links a:hover {
  text-decoration: none;
  background-color: #BD5D38;
}

.btn-default {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-default:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-default:active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-default:focus {
  color: #fff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  outline: 0;
}

.faded {
  font-weight: 600;
  color: #adb5bd;
}

.bg-primary {
  background-color: #BD5D38 !important;
}

.text-primary {
  color: #BD5D38 !important;
}

a {
  color: #BD5D38;
}

a:hover, a:focus, a:active {
  color: #824027;
}
/*# sourceMappingURL=resume.css.map */