dj-database-url==0.2.2
dj-static==0.0.6
Django==1.6.1
django-bootstrap-form==3.1
django-extra-views==0.6.3
django-markdown-deux==1.0.4
django-reversion==1.8.0
ffs==0.0.7.4
gunicorn==18.0
Jinja2==2.7.1
letter==0.4.2
markdown2==2.3.0
MarkupSafe==0.18
psycopg2==2.8.3
simplejson==3.3.2
six==1.4.1
South==0.8.4
static3==0.6.1
