{% extends 'baser.html' %}
{% load bootstrap %}

{% block content %}

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Make a declaration</h2>
        <hr />
        <div class="row">
          <div class="form-group col-lg-8 col-lg-offset-2">
            <center>
              <p>
                In order to establish your identity, please enter your NHS email address.
              </p>
              <p>
                We will send you a link from which you can edit your public record.
              </p>

              <form method="POST" role="form">
                {% csrf_token %}
                {{form.email|bootstrap}}
                <p class="small muted">
                  Only email addresses ending in nhs.uk, ac.uk, doctors.org.uk can be used
                </p>
                <button class="btn btn-default" type="submit">Submit</button>
              </form>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock %}
