{% extends 'baser.html' %}

{% block content %}


      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Some awesome <strong>tagline here</strong></h2>
            <hr>
            <img class="img-responsive img-border img-left" src="/static/cutlery.jpg" width="300px">
            <hr class="visible-xs">


    <p>Doctors can receive money and benefits from industry, in various different ways. They may be paid by the pharmaceutical industry to give lectures to other doctors. They may run companies that sell health services to the NHS. They may receive hospitality, such as food and drink, or accept free travel and hotel accommodation from industry in order to attend conferences. They may accept free training about which treatments work best, that has been funded by drug companies. They may be paid by industry to conduct research. They may be paid by PR companies working on behalf of drug companies, or providers of health services, such a companies making supplements, health products, foodstuffs or even clothing.</p>
    <p>Sometimes when a doctor has a financial “conflict of interest”, this can <a title="Spurling 2010 review" href="http://www.plosmedicine.org/article/info%3Adoi%2F10.1371%2Fjournal.pmed.1000352" target="_blank">affect the treatment decisions they make, or recommend</a>. These conflicts cannot be entirely avoided, and in many cases they are entirely reasonable. However, it is important that information is available on which companies have paid a doctor, so that colleagues and patients can decide for themselves what they think. For example, there is longstanding evidence that <a title="Spurling 2010 review" href="http://www.plosmedicine.org/article/info%3Adoi%2F10.1371%2Fjournal.pmed.1000352" target="_blank">exposure to industry promotional activity can lead to doctors recommending worse treatments for patients</a>.</p>
    <p>Today, it’s very hard to find out who has paid a doctor in the UK. We know that the pharmaceutical industry has paid healthcare workers <a title="ABPI Press Release" href="http://www.abpi.org.uk/media-centre/newsreleases/2013/Pages/050413-a.aspx" target="_blank">£40 million per year</a> in the UK, but companies currently refuse to say who they have paid, and how much. Employers and regulators have failed to collect this information. Where data has been collected, at public expense, this is often kept secret from patients and researchers. The small amount of publicly accessible information is chaotic and dispersed.</p>
    <p>Professional bodies, regulators, hospitals, and other NHS organisations have failed to address this problem, despite many decades of research and campaigning. This site is the beginning of an attempt to bring transparency.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Who Pays This Doctor Will: </h2>
            <hr>
            <ul>
		<li>make it easy for doctors to declare their interests</li>
		<li>aggregate this in one location online</li>
		<li>make this information searchable and accessible, to patients and professionals</li>
           </ul>
          </div>
        </div>
      </div>

{% endblock %}
