{% extends 'baser.html' %}
{% load bootstrap4 %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h2 class="mb-5">Make a declaration</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h4 class="mb-0">In order to establish your identity</h4>
        <h4 class="mb-3">please enter your NHS email address.</h4>
        <form method="POST" role="form">
          {% csrf_token %}
          {% bootstrap_field form.email  layout='horizontal' show_label=0 %}
          <p class="small muted">
            Only email addresses ending in {% for suffix in NHS_EMAIL_SUFFIXES %}{{suffix}}{% if forloop.revcounter == 2 %} or {% elif forloop.revcounter > 1 %}, {% endif %}{% endfor %} can be used.<br />
            If you don't have access to one of those, email hello&#64;whopaysthisdoctor.org and we'll sort you out.
          </p>
          <div class="subheading mb-3">We will send you a link from which you can edit your public record,
              we'll only use it for the purposes of this site, and it wont be made public.
          </div>
          <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  window.onload = function() {
    var input = document.getElementById("id_email").focus();
  }
</script>

{% endblock %}
