{% extends 'baser.html' %}

{% block content %}
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Making your declaration</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h4 class="mb-3">We've sent you an email containing a link from which you can edit your
                public record.
            </h4>
            <p>
                Please check your mail - if it's not arrived in your inbox in a few minutes,
		check your junk/spam folder (<em>especially if you use doctors.org.uk or nhs.uk</em>)
            </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
