{% extends 'baser.html' %}
{% load bootstrap4 %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h2 class="mb-5">Make a new declaration for {{ doctor.name }} ({{ doctor.gmc_number }})</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <form method="POST" role="form">
          {% csrf_token %}
          {% bootstrap_field form.email  layout='horizontal' show_label=0 %}
          {{form.gmc}}
          {% bootstrap_form_errors form %}
          <p class="small muted">
              Only email addresses ending in  {% for suffix in NHS_EMAIL_SUFFIXES %}{{suffix}}{% if forloop.revcounter == 2 %} or {% elif forloop.revcounter > 1 %}, {% endif %}{% endfor %} can be used.
              If you no longer have access to yours, please get in touch with team&#64;whopaysthisdoctor.org.
          </p>
          <div class="subheading mb-3">
              We will send you a link from which you can edit your public record,
              we'll only use it for the purposes of this site, and it wont be made public.
          </div>
          <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
