<strong>Thanks for declaring your interests</strong>
<p>
  Your public record on WhoPaysThisDoctor.org is now available at
  <a href="http://{{ settings.DEFAULT_DOMAIN }}{{ doctor.get_absolute_url() }}">
    http://{{ settings.DEFAULT_DOMAIN }}{{ doctor.get_absolute_url() }}
  </a>
</p>
<p>
  If this is the first time you've submitted a declaration, it won't show up in the
  <a href="http://{{ settings.DEFAULT_DOMAIN }}{{ register }}">list of registered doctors</a> for 24 hours.
</p>
<p>
  If you are concerned that the information you have submitted is wrong, you can
  contact us at {{ settings.DEFAULT_FROM_EMAIL }} to let us know.
</p>
