{% extends 'baser.html' %}
{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Declarations so far</h2>
    <div class="search-control">
      <label>
        Search for a doctor
        <input type="text" id="search-field" placeholder="e.g. by surname or where they work" />
      </label>
    </div>
    <table class="table sortable" id="doctor-table">
      <tr>
        <th>Name</th>
        <th>GMC</th>
        <th>Job Title</th>
        <th>Primary Employer</th>
      </tr>
      {% for doctor in doctors %}
        <tr class="doctor">
          <td>
            <a href="{{doctor.get_absolute_url}}">
              {{ doctor.name }}
            </a>
          </td>
          <td>{{doctor.gmc_number}}</td>
          <td>{{doctor.job_title}}</td>
          <td>{{doctor.primary_employer}}</td>
        </tr>
      {% endfor %}
      <tr id="no-results"><td colspan="4">No results found</td></tr>
    </table>
  </div>
</section>
{% endblock %}
