{% extends 'baser.html' %}

{% load markdown_deux_tags %}
{% load utils %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="container-fluid ">
  {% include "partials/doctor_header.html" %}
  {% if not declarations %}
  <div class="row">
    <div class="col-md-12 mb-3">
    </div>
  </div>
  <h2 class="faded text-center">
    No recent declarations
  </h2>
  {% endif %}

  {% for for_year, declarations in declarations.items %}
  <div class="resume-date text-md-right p-2">
    <h3>
      <span class="text-primary">{{ for_year }}</span>
    </h3>
  </div>
  <div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="p-2 flex-grow-1">
      {% for declaration in declarations %}
        {% if declaration.nothing_to_declare %}
        <h4>
          Nothing to Declare
        </h4>
        {% endif %}
        {% display_subdeclaration_display declaration "consultancy" "consultancy_band" "consultancy_details" "pharmaceutical_companies,technology_companies,consultancy_other" %}
        {% display_subdeclaration_display declaration "academic" "academic_band" "academic_details" "research_grants,academic_other" %}
        {% display_subdeclaration_display declaration "other_work" "other_work_band" "other_work_details" "public_relations,commercial_relationships,media" %}
        {% display_subdeclaration_display declaration "financial" "financial_band" "financial_details" "patents_owned,shares" %}
        {% display_subdeclaration_display declaration "spousal" "spousal_band" "spousal_details" %}
        {% display_subdeclaration_display declaration "sponsored" "sponsored_band" "sponsored_details" "conferences,meals" %}
        {% display_subdeclaration_display declaration "political" "political_band" "political_details" %}
      {% endfor %}
      </div>
  </div>
  {% endfor %}



  </div>
</section>

{% endblock %}

