{% extends 'baser.html' %}

{% load markdown_deux_tags %}
{% load utils %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="container-fluid ">
    <div class="d-flex">
      <div class="p-2 flex-grow-1"><h2 class="mb-0">{{ doctor.name }}</h2></div>
      <div class="p-2 align-self-center">
        <a href="{% url 'establish-identity' %}" class="btn btn-secondary">Make a declaration</a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6">
        <div class="row">
            <div class="col-sm">
                GMC: {{ doctor.gmc_number }}
            </div>
            <div class="col-sm">
                {{ doctor.job_title }}
            </div>
            <div class="col-sm">
                {{ doctor.primary_employer }}
            </div>
        </div>
      </div>
    </div>

  {% for for_year, declarations in declarations.items %}
  <div class="resume-date text-md-right p-2">
    <h3>
      <span class="text-primary">{{ for_year }}</span>
    </h3>
  </div>
  <div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="p-2 flex-grow-1">
      {% for declaration in declarations %}
        {% display_subdeclaration_display declaration "consultancy" "consultancy_band" "consultancy_details" "pharmaceutical_companies,technology_companies,consultancy_other" %}
        {% display_subdeclaration_display declaration "academic" "academic_band" "academic_details" "research_grants,academic_other" %}
        {% display_subdeclaration_display declaration "other_work" "other_work_band" "other_work_details" "public_relations,commercial_relationships,media" %}
        {% display_subdeclaration_display declaration "financial" "financial_band" "financial_details" "patents_owned,shares" %}
        {% display_subdeclaration_display declaration "spousal" "spousal_band" "spousal_details" %}
        {% display_subdeclaration_display declaration "sponsored" "sponsored_band" "sponsored_details" "conferences,meals" %}
        {% display_subdeclaration_display declaration "political" "political_band" "political_details" %}
      {% endfor %}
      </div>
      <div class="resume-date text-md-right p-2">


  </div>
  {% endfor %}



  </div>
</section>
{% comment %}

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">{{ doctor.name }}</h2>
        <hr />
        <div class="text-center">
        <ul class="list-unstyled">
          <li>
            {{ doctor.gmc_number }}
          </li>
          <li>
            {{ doctor.job_title }}
          </li>
          <li>
            {{ doctor.primary_employer }}
          </li>
        </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Declarations</h2>
        <hr />
        <div class="text-center">
          <a href="{% url 're-establish-identity' pk=doctor.pk %}" class="btn btn-default">Add a declaration</a>
        </div>
      </div>
    </div>
  </div>

  {% for declaration_year, declarations_for_year in declarations.items %}
  <div class="row">
    <div class="box">
      <div class="col-lg-4">
        <hr />
        <h2>{{ declaration_year }}</h2>
        <hr />
      </div>
      <div class="col-lg-8">
        {% for declaration in declarations_for_year %}
          {% include "doctors/declaration_display.html" %}
        {% endfor %}
      </div>
    </div>
  </div>





      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">{{ declaration.dt_created|date }}</h2>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">

            {% if declaration.nothing_to_declare %}
              <hr />
              <h2 class="intro-text text-center">Nothing To Declare</h2>
              <hr />
            {% endif %}

            {% if declaration.pharmabenefit_set.count > 0 %}
              <hr>
              <h2 class="intro-text text-center">Benefits received from pharmaceutical companies</h2>
              <hr />
              <table class="table">
                <tr>
                  <th>Company</th>
                  <th>Reason for receipt of fees</th>
                  <th>Total amount received</th>
                </tr>
                {% for benefit in declaration.pharmabenefit_set.all %}
                  <tr>
                    <td>{{benefit.company}}</td>
                    <td>{{benefit.reason}}</td>
                    <td>{{benefit.get_band_display}}</td>
                  </tr>
                {% endfor %}
              </table>
              {% endif %}

            {% if declaration.othermedicalbenefit_set.count > 0 %}
              <hr>
              <h2 class="intro-text text-center">Other sources of income or benefits from other organisations relevant to
medical practice</h2>
              <hr />
              <table class="table">
                <tr>
                  <th>Company</th>
                  <th>Reason for receipt of fees</th>
                  <th>Total amount received</th>
                </tr>
                {% for benefit in declaration.othermedicalbenefit_set.all %}
                  <tr>
                    <td>{{benefit.company}}</td>
                    <td>{{benefit.reason}}</td>
                    <td>{{benefit.get_band_display}}</td>
                  </tr>
                {% endfor %}
              </table>
              {% endif %}

            {% if declaration.feebenefit_set.count > 0 %}
              <hr>
              <h2 class="intro-text text-center">Fees directly received from other medical companies</h2>
              <hr />
              <table class="table">
                <tr>
                  <th>Company</th>
                  <th>Reason for receipt of fees</th>
                  <th>Total amount received</th>
                </tr>
                {% for benefit in declaration.feebenefit_set.all %}
                  <tr>
                    <td>{{benefit.company}}</td>
                    <td>{{benefit.reason}}</td>
                    <td>{{benefit.get_band_display}}</td>
                  </tr>
                {% endfor %}
              </table>
              {% endif %}

            {% if declaration.grantbenefit_set.count > 0 %}
              <hr>
              <h2 class="intro-text text-center">Research grants paid by private institutions to your department</h2>
              <hr />
              <table class="table">
                <tr>
                  <th>Company</th>
                  <th>Reason for receipt of fees</th>
                  <th>Total amount received</th>
                </tr>
                {% for benefit in declaration.grantbenefit_set.all %}
                  <tr>
                    <td>{{benefit.company}}</td>
                    <td>{{benefit.reason}}</td>
                    <td>{{benefit.get_band_display}}</td>
                  </tr>
                {% endfor %}
              </table>
              {% endif %}

              {% if declaration.past_declarations %}
              <hr>
              <h2 class="intro-text text-center">Past Declarations</h2>
              <hr />
              <p>
                {{ declaration.past_declarations|markdown }}
              </p>
              {% endif %}
              {% if declaration.other_declarations %}
              <hr>
              <h2 class="intro-text text-center">Other Declarations</h2>
              <hr />
              <p>
                {{ declaration.other_declarations|markdown }}
              </p>
              {% endif %}

            </div>
          </div>
        </div>

    {% endfor %}

{% endcomment %}



{% endblock %}

